/* ---General Colors and Fonts--- */
.sand{
    background-color: #C9AB7F;
}

.black{
    background-color: #000000;
}

.dark-grey{
    background-color: #576260;
}

.flash-white{
    background-color: #EEF3FA;
}

.rackley{
    background-color: #538CAC;
}

.sand-text{
    color: #C9AB7F;
}

.flash-white-text{
    color: #EEF3FA;
}

.rackley-text{
    color: #538CAC;
}

body {
    margin: 0;
}

.logo {
    height: 100%;
    display: inline-block;
}
ul {
    list-style-type: none;
    width: 80%;
    text-align: right;
}

li {
    display: inline-block;
    margin: 2%;
    color: #EEF3FA;
}

li:hover, a:hover, .logo:hover{
    color: #C9AB7F;
    cursor: pointer;
    text-decoration: none;
}

.header, .footer{
    height: 18vh;
    padding: 0.5% 2%;
    margin-bottom: 0.5%;
    display: flex;
    box-shadow: 1px 1px 5px;
}

.footer {
    text-align: center;
    height: 30vh;
    padding: 3% 0;
    margin-bottom: 0;
}

.social, .contact{
   margin-top: 1%;
}
.social p, .contact p{
    display: inline;
}

.address{
    border-left: 1px solid #C9AB7F;
    border-right: 1px solid #C9AB7F;
}
/* //////////----Contact Form-----////////// */

.contact-page{
    padding: 2%;
}

.contact-page > h1{
    margin: 0 0 2% 0;
}
.contact-label{
    margin-bottom:0; 
}

.contact-btn{
    margin-top: 10%;
    border: .01em solid white;
    border-radius: 5%;
    cursor: pointer;
    width: 30%;
    height: 8%;
}

.contact-btn:hover{
    background-color: #538CAC;
}
.contact-form{
    width: 100%;
    box-shadow: 1px 1px 10px;
    padding: 2%;
    height: 80vh;
  }
  
  .contact-form input{
    width: 100%;
    height: 10%;
    display: block
  }
  
  .contact-form textarea{
    width: 100%;
    height: 30%;
    display: block;
    resize: none
  }
  
  @media screen and (max-width: 600px) {
    .contact-form input{
      width: 100%;
      display: block
    }
    
    .contact-form textarea{
      width: 100%;
      height: 20%;
      display: block
    }
  }

  /* --- Home --- */

  .home-img{
    background-color: #538CAC;
    text-align: right;
    height: 80vh;
    box-shadow: 1px 1px 10px;
    padding: 18% 5% 0 0;
  }

  .about{
    background-color: #538CAC;
    text-align: left;
    height: 60vh;
    box-shadow: 1px 1px 10px;
    padding: 18% 0 0 5%;  
  }
 
  .content{
      margin: 2% 2%;
  }

  .tile{
    width: 35%;
    height: 70vh;
    margin: 1% .5%;
    text-align: center;
    padding: 2%;
    box-shadow: 1px 1px 10px;
    border: 0.1em solid #538CAC;
  }

  .services{
      margin: auto;
      display: flex;
  }

  .strands{
      background-image: url('../images/strands.png');
      background-repeat: no-repeat;
      background-size: cover;
  }